<h2>Create a new To Don't</h2>

<form method="POST" action="/todonts">
    <label for="description">Description</label>
    <input name="description">
    </br>
    </br>
    <label for="urgent">Urgent:</label>
    <span>Yes</span><input type="radio" name="urgent" value="true" checked>
    <span>No</span><input type="radio" name="urgent" value="false">
    </br>
    </br>
    <button>SUBMIT</button>
</form>
    </br>
    </br>
<a href="/todonts">GO BACK</a>